%p
  - activity.owner.try do |owner|
    = link_to owner.name, owner
  created a recipe
  - recipe = activity.recipe
  - if recipe
    = link_to recipe.name, recipe
  - else
    which has been removed
