%p
  - activity.owner.try do |owner|
    = link_to owner.name, owner
  added a comment to
  - recipe = activity.trackable.recipe
  - if recipe
    = link_to recipe.user.name, recipe.user
    's recipe
    = link_to recipe.name, recipe
  - else
    which has been removed
