%p
  - activity.owner.try do |owner|
    = link_to owner.name, owner
  destroyed his comment to recipe
  - recipe = activity.comment.recipe
  - if recipe
    = link_to recipe.user.name, recipe.user
    's recipe
    = link_to recipe.name, recipe
  - else
    which has been removed