.page-header
  -#= link_to new_activity_path, :class => 'btn btn-primary' do
  -#  %span.glyphicon.glyphicon-plus
  -#  New Activity
  %h1 Activities

- for activity in @activities
  = activity.decorate.render_activity

-#.table-responsive
-#  %table.table.table-striped.table-bordered.table-hover
-#    %thead
-#      %tr
-#        %th Action
-#        %th User
-#        %th Trackable
-#        %th
-#        %th
-#        %th
-#
-#    %tbody
-#      - @activities.each do |activity|
-#        %tr
-#          %td= activity.action
-#          %td= activity.user
-#          %td= activity.trackable
-#          %td= link_to 'Show', activity
-#          %td= link_to 'Edit', edit_activity_path(activity)
-#          %td= link_to 'Destroy', activity, :data => { confirm: 'Are you sure?' }, :method => :delete
